#page {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    min-height: calc(96.5vh - (62px + 56px));
}

.nav-item {
    margin-bottom: -16px;
}

.accordion {
    width: 80%;
}

.form-floating {
    width: 100%;
}

.inToggleRoberto {
    margin-top: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
}

.inToggleRoberto.actived {
    display: none;
}

.inToggleClaudia {
    margin-top: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
}

.inToggleClaudia.actived {
    display: none;
}

.inToggleMilton {
    margin-top: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
}

.inToggleMilton.actived {
    display: none;
}

.inToggleJurema {
    margin-top: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
}

.inToggleJurema.actived {
    display: none;
}

@media screen and (max-width: 800px) {
    .accordion {
        width: 90%;
    }

    .nav-item {
        margin-bottom: 0px;
    }
}