#page {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: calc(97.5vh - (62px + 56px));
}

.formContact {
    width: 80%;
}

#error {
    display: none;
    color: red;
    margin-top: 5px;
}

#error.active {
    display: block;
}