.menuCat {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inMenuCat {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
  gap: 33px;
}

.inMenuCat {
  color: #094A68;
  font-size: 45px;
}

.imgItens {
  height: 250px;
}

.itemShirt {
  display: inline;
  text-align: center;
  transition: all 300ms;
  height: 35%;
  width: 25%;
}

.itemShirt a {
  text-decoration: none;
  color: black;
}

.itemShirt:hover {
  scale: 1.1;
}

.horizontal {
  display: flex;
  gap: 55px;
  width: 100%;
  justify-content: center;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.imgCapa {
  height: 14rem;
  width: 14rem;
}

.pageComerce {
  display: flex;
}

.card {
  border: 0 !important;
}

.imgPrin {
  margin-top: 100px;
}

#tableCommerce {
  display: flex !important;
  flex-direction: column !important;
}

@media screen and (max-width: 800px) {
  .horizontal {
      display: grid;
      margin-bottom: 55px;
  }

  .imgItens {
      height: 90%;
  }

  .inMenuCat {
      text-align: center;
  }

  .pageComerce {
    display: flex;
    flex-direction: column;
    gap: 140px;
  }

  .itemShirt {
    margin-bottom: 100px;
    width: 100%;
  }

  .imgPrin {
    width: 80%;
    margin-top: -110px;
  }

  .itemPrin {
    width: 100%;
  }
}