.pageComerce {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card-img-top:hover {
  scale: 1.05;
}

.card-img-top{
  transition: all 0.3s linear;
}

.menuCat {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inMenuCat {
  display: flex;
  font-size: 24px;
  gap: 33px;
}

.inMenuCat {
  color: #094A68;
  font-size: 45px;
}

.itemShirt {
  display: inline;
  text-align: center;
  transition: all 300ms;
  height: 35%;
  width: 25%;
}

.itemShirt a {
  text-decoration: none;
  color: black;
}

.horizontal {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.imgCapa {
  height: 18rem;
  width: 18rem;
}

.pageComerce {
  display: flex;
  padding-top: 50px;
}

.card {
  border: 0 !important;
}

#tableCommerce {
  display: flex !important;
  flex-direction: column !important;
}

.camisetas{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.camisetas a {
  color: #000;
  text-decoration: none;
}

.camisetas .card{
  width: 300px;
}

.camisetas .card img{
  transition: all 0.3s linear;
}

.camisetas .card img:hover{
  scale: 1.1;
}

@media screen and (max-width: 800px) {
  .horizontal {
      display: grid;
  }

  .imgItens {
      height: 90%;
  }

  .inMenuCat {
      text-align: center;
  }

  .pageComerce {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .camisetas{
justify-content: center;  }

  .itemShirt {
    width: 100%;
  }

  .imgPrin {
    width: 80%;
  }

  .itemPrin {
    width: 100%;
  }
}