* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

#page {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: calc(97.5vh - (62px + 56px));
}


.pageIn {
    width: 80%;
}

:root {
    --bkg-header: #002333;
}

.nav-local {
    background-color: var(--bkg-header) !important;
    border-radius: 0px 0px 10px 10px;
}

.nav-local.navIndex {
    border-radius: 0 !important;
}

.logo {
    width: 60px;
}

.bars-local {
    color: white !important;
    border: white !important;
    background-color: white !important;
}

.toggler-local {
    color: white !important;
    border: white !important;
    background-color: white !important;
}

.link-local {
    color: #FFF !important;
    font-size: 20px !important;
    text-align: center;
}

.link-local.disabled {
    color: rgb(140, 140, 140) !important;
    user-select: none;
}

.navBarNav-local {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
}

.user-local {
    margin-left: 8px;
}

.loginCascat-local {
    text-align: center;
}

.page {
    width: 100%;
}

.footer {
    border-radius: 10px 10px 0px 0px;
}

.banner {
    width: 600px;
    z-index: 1;
}

.blueDiv {
    height: 30vh;
    width: 100%;
    background-color: var(--bkg-header);
    border-radius: 0px 0px 10px 10px;
}

.pageIn {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page.index {
    min-height: calc(97.5vh - (62px + 56px)) !important;
}

.btnMobile {
    display: none;
}

.btnDesktop .btnMobile {
    color: #002333;
}

.textIndex {
    width: 60%;
}

.tituloIndex {
    border-top: 4px solid #002333;
    width: 600px;
    display: flex;
    flex: 1;
    justify-content: center;
    color: #002333;
}

.pageActive {
    text-decoration:underline;
}

@media screen and (max-width: 800px) {
    .pageIn {
        text-align: center;
        margin-top: 0 !important;
        width: 100%;
    }
    
    #page.index {
        min-height: calc(96.5vh - (62px + 56px)) !important;
        width: 100%;
        margin-top: 10px;
    }

    .banner {
        display: none;
    }

    .blueDiv {
        display: none;
    }

    .btnDesktop {
        display: none;
    }

    .btnMobile {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .textIndex {
        width: 80%;
    }

    .tituloIndex {
        border-top: 2px solid #002333;
        border-bottom: 2px solid #002333;
        width: 100%;
    } 
}
